/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #101F24;
}

.jumbotron {
  height: 350px;
  z-index: 2;
  box-shadow: 0 8px 16px -6px black;
  background-color: #C1DBD5;
  font-family: fantasy;
}

.form-container {
  margin-top: 110px;
  margin-left: 12px;
  text-align: center;
  width: 300px;
  position: relative;
}

.title {
  font-family: fantasy;
  font-size: 100px;
  text-align: left;
}

.page-header {
  background-color: #D1E0A6;
}

.uploaded_time {
  font-size: 12px;
}

.circle{
	border-radius: 400px;
	background-color: #D4A190;
	height: 350px;
	font-weight: bold;
	width: 350px;
}
